@use "vars" as *;
@use "sass:math";

.yo-card{
  padding: $yo-card-padding;
  position:relative;
  &>header{
    line-height: $yo-card-title-height;
    padding: $yo-card-header-padding;
  }
  &>main{
    padding: $yo-card-main-padding;
  }
  ._header-title{
    font-size: 1.3em;
    font-weight: bold;
    color: var(--color-font-title);
  }
  
  
  &.__withHeader{
   
  }
  &>footer{
    padding: $yo-card-footer-padding;
  }
}

